*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://t4.ftcdn.net/jpg/01/05/90/77/360_F_105907729_4RzHYsHJ2UFt5koUI19fc6VzyFPEjeXe.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 80px;

}
.nav-bar p{
    color: blanchedalmond;
}
.nav-bar .title{
    color: antiquewhite;
    font-size: 70px;
    cursor: pointer;
}
span{
    color: brown;
    cursor: pointer;

}
.menu li{
    list-style: none;
    display: inline-block;

}
.menu li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;
   transition: .5s ease;
}
.menu li a:hover{
    color: brown;
    padding: 10px 20px ;
    border: 2px solid;
    border-radius: 20px;
}
.nav-bar p{
    position: absolute;
    margin-top:80px;
    font-size: 30px;
    font-weight: 200px;
    cursor: pointer;
    padding: 10px 20px;
}
.home{
    height:400px;
    padding:70px;
}
.title-1{
    font-size: 50px;
    color: antiquewhite;
}
.home p{
    color: brown;
    font-size: 20px;
    font-weight: 800;
    padding: 10px ;
}
.home button{
    border-radius: 10px;
    width:200px;
    margin-top: 35px;
    height:50px;
    font-size: 20px;
    transition: .4s ease ;
    background:brown;
    padding:5px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
}
.home button:hover{
    background: none;
    border: 2px solid brown;
}
